<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Top 50 Cryptocurrencies</title>
  <script type="module" src="./js/listCurrencies.js"></script>
  <link rel="stylesheet" type="text/css" href="./css/listCurrencies.css">
</head>

<body>
  <div class="topnav" id="myTopnav">
    <a id="home" class="active">Home</a>
    <a id="portfolio">Portfolio</a>
    <a id="yourAccount">Your Account</a>
    <a id="logout">Logout</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
  <h2>Top 100 Cryptocurrencies</h2>
  <table>
    <thead>
      <tr>
        <th><button onclick = "setSort('index')">#</button></th>
        <th><button onclick = "setSort('name')">Name</button></th>
        <th><button onclick = "setSort('symbol')">Symbol</button></th>
        <th><button onclick = "setSort('price')"> Price (USD)</button></th>
        <th><button onclick = "setSort('quote.USD.percent_change_24h')">% Change 24H</button></th>
        <!-- Add more columns for other attributes as needed -->
      </tr>
    </thead>
    <tbody id="cryptoTableBody">
      <!-- Table rows will be dynamically added here -->
    </tbody>
  </table>
  <dialog id="cryptoModal">
    <div id="modalContent">
      <!-- Modal content will be dynamically added here -->
    </div>
    <button id="closeModal">Close</button>
  </dialog>
  <button onclick="setSort('index')">Get Crypto</button>
</body>

</html>