<!DOCTYPE html>
<html>

<head>
    <script src="/js/logout.js"></script>
    <script src="/js/global.js"></script>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/logout.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="topnav" id="myTopnav">
        <a id="home" class="active">Home</a>
        <a id="portfolio">Portfolio</a>
        <a id="yourAccount">Your Account</a>
        <a id="logout">Logout</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>

    <div style="padding-left:16px">
        <div class="center">
            <h2>Logout HTML</h2>
            <p>Press Space to go back home!!</p>
        </div>
    </div>


</body>

</html>