<!DOCTYPE html>
<html>

<head>
    <script src="/js/portfolio.js"></script>
    <script src="/js/global.js"></script>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/portfolio.css">
</head>

<body>
    <div class="topnav" id="myTopnav">
        <a id="home">Home</a>
        <a id="portfolio" class="active">Portfolio</a>
        <a id="yourAccount">Your Account</a>
        <a id="logout">Logout</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>

    <div style="padding-left:8px">
        <div class="center">
            <h2>Portfolio HTML</h2>
            <p>Click Space Bar to return to main</p>
        </div>
    </div>

    </table>
    <table id="crytoPTable">
        <thread>
            <tr>
                <th id="name1">Name</th>
                <th id="symbol">Symbol</th>
                <th id="price">Price</th>
                <th id="change24">24H Change</th>
                <th id="purchaseA">Purchase Amount</th>
                <th id="purchaseP">Purchase Price</th>
                <th id="purchaseV">Purchase Value</th>
                <th id="currentV">Current Value</th>
                <th id="change">% Change</th>
            </tr>
        </thread>
        <tr>
            <td>Lauren</td>
            <td>--</td>
            <td>120</td>
            <td>10</td>
            <td>30</td>
            <td>40</td>
            <td>100 units</td>
            <td>23</td>
            <td>20</td>
        </tr>
        <tr>
            <td>Amy</td>
            <td>--</td>
            <td>130</td>
            <td>140</td>
            <td>3</td>
            <td>50</td>
            <td>900 units</td>
            <td>53</td>
            <td>10</td>
        </tr>
        <tr>
            <td>Declan</td>
            <td>--</td>
            <td>100</td>
            <td>102</td>
            <td>310</td>
            <td>20</td>
            <td>110 units</td>
            <td>28</td>
            <td>29</td>
        </tr>
    </table>
</body>

</html>