<!DOCTYPE html>
<html>

<head>
    <script src="/js/portfolio.js"></script>
    <link rel="stylesheet" href="/css/portfolio.css">
</head>

<body>
    <div class="topnav" id="myTopnav">
        <a id="home">Home</a>
        <a id="portfolio" class="active">Portfolio</a>
        <a id="yourAccount">Your Account</a>
        <a id="logout">Logout</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>

    <div style="padding-left:8px">
        <div class="center">
            <h2>Portfolio HTML</h2>
        </div>
    </div>

    <h2>Your Account Portfolio</h2>
    <table>
      <thead>
        <tr>
            <th id="name1">Name</th>
            <th id="symbol">Symbol</th>
            <th id="price">Current Price (USD)</th>
            <th id="change24">Purchase Amount</th>
            <th id="purchaseA">Purchase Price</th>
            <th id="purchaseP">Base Value</th>
            <th id="purchaseV">Current Value</th>
            <th id="currentV">Value Change</th>
            <th id="change">Sell</th>
        </tr>
      </thead>
      <tbody id="cryptoTableBody">
        <!-- Table rows will be dynamically added here -->
      </tbody>
    </table>
</body>

</html>